html, body {
  height: 4000px;
}

body {
  background-color: black;
}

#about_div {
  top: 0;
  position: relative;
  height: 2000px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

#banner {
  width: 100%;
  height: 273px;
  background-color: black;
  overflow: hidden;
}

h1 {
  color: #8eb1c5;
  font-family: 'Poiret One', cursive;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

p {
  color: #aaaaaa;
  font-size: 40px;
  text-align: center;
}

p.webdev {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #aaaaaa;
  text-transform: uppercase;
}

a {
  color: black;
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
}

#nav_bar {
  border: 0;
  background-color: #aaaaaa;
  border-radius: 0px;
  margin-bottom: 0;
  height: 50px;
  text-align: center;
}

.nav_links {
  margin: 0;
}

.nav_links li {
  display: inline-block;
}

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.nav_links li a {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: white;
  padding: 0 50px;
  text-decoration: none;
}

.nav_links li a:hover {
  color: #273d55;
}

.parallax {
  background-image: url('images/clouds.jpg');
  height: 20%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#clouds {
  overflow: hidden;
  width: 100%;
}

p.about {
  margin: 0;
  padding-top: 50px;
  font-size: 50px;
  font-weight: bold;
}

@media (max-width:  979px) {
  .x-content-band.bg-image.parallax,
  .x-content-band.bg-pattern.parallax {
    background-attachment: fixed !important;
  }
}
